<link rel="stylesheet" href="header.component.css">
<header class="toparea">
    <div class="container">
        <div class="row toparea1">
            <div class="col-md-4 col-12 top1">
                <i class="fa fa-mobile-phone"></i>&nbsp;<a href=tel:7482825534>7482825534</a>
            </div>
            <div class="col-md-4 col-12 top1">
                <i class="fa fa-envelope"></i>&nbsp;<a href="mailto:rktentjamshedpur@gmail.com">rktentjamshedpurgmail.com</a>
            </div>
            <div class="col-md-4 col-12 top3">
                <a href="form.html">BOOK NOW</a>
            </div>
        </div>
    </div>
</header>
<header class="heading">
    <div class="container">
        <div class="row heading1">
            <div class="col-md-2 col-12">
                <img src="assets/logo.png" alt="image">
            </div>
            <div class="col-md-3 col-12">
                <h3>R.K Tent House</h3>
                <p>Make your events sepecial!!</p>
            </div>
            <div class="col-md-7 col-12">
                <nav class="navbar navbar-expand-lg navbar-dark bg-black">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto" style="margin:0 auto;">
                        <li class="nav-item active">
                          <a class="nav-link" href="index.html">HOME</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="about.html">ABOUT</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="service.html">SERVICES</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="planning.html">PLANNING</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="gallery.html" role="button" data-toggle="dropdown" aria-expanded="false">
                            GALLERY
                          </a>
                          <div class="dropdown-menu">
                                <a class="dropdown-item" href="gallery.html">MY WORKS</a>
                                <a class="dropdown-item" href="mehndi.html">MEHNDI</a>
                                <a class="dropdown-item" href="haldi.html">HALDI</a>
                                <a class="dropdown-item" href="stage.html">STAGE</a>
                                <a class="dropdown-item" href="gate.html">PASSAGE</a>
                                <a class="dropdown-item" href="birthday.html">BIRTHDAY's</a>
                          </div>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="contact.html">CONTACT</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
            </div>
        </div>
    </div>
</header>
