<link rel="stylesheet" href="welcome.component.css">
<section class="welcome">
    <div class="container">
        <div class="row welcome1">
            <div class="col">
                <h1>Welcome to R.K. Tent House!!</h1>
            </div>
        </div>
        <div class="row welcome2">
            <div class="col">
                <p>"R.K. Tent House" is a wedding designing and event planning company, set up almost three decades ago
                    with an extensive in - house production facility, from idea to reality, from fabric to upholstery
                    and from flowers to lighting.</p>
            </div>
        </div>
    </div>
</section>
