<link rel="stylesheet" href="parea.component.css">

<section class="parea">
    <div class="container">
        <div class="row parea1">
            <div class="col-md-4 col-12 parea2">
                <img src="../../../assets/bg1.webp" alt="image">
            </div>
            <div class="col-md-8 col-12">
                <p>“R.K Tent House is committed to excellence and offers you the world-class decoration, Tents, and Catering Management Services for your wedding ceremony, religious, parties, events, etc."</p>
                <p>We are one of the leading Canvas and Catering Services providers in Jamshedpur and we offer event management services comprising a wide range of well designed and customizable packages as per the requirements of large institutions, clubs, corporate houses, hotels, and private party, etc. The services offered by us are wholesome, well delivered, reliable, and can be availed at a very short notice period that has gained us widespread popularity among clients in the domestic market.</p>
                <p>We offer a range of services, basically categorized as tentage and catering services, to serve efficiently and reliably for all occasions. In the tentage services, we offer Tent Erection, Lighting, Floral Decorations, Sound Systems, DJ, Dance floors for occasions such as  Reception Parties, Marriages, Fairs, and Family Functions, etc.</p>
            </div>
        </div>
    </div>
</section>
