
.parea{
    padding-bottom:30px;
    border-bottom:solid 1px black;
}
.parea2 img{
    width:100%;
    border-radius:20px;
}
.parea1 p{
    text-align:justify;
    font-size:18px;
}
.parea1 p:first-child{
    font-weight:bold;
}