

<section class="segment">
    <div class="container-fluid">
        <div class="row segment1">
            <div class="col">
                <h2>Our Segments</h2>
                <img src="assets/icon.jpg" alt="">
            </div>
        </div>
        <div class="row segment2">
            <div class="container">
                <div class="row">
                    @for (segment of segments; track $index) {
                        <div class="col-md-4 col-12 box1">
                            <div class="box">
                                <div class="card-body">
                                  <h5 class="card-title">{{segment.title}}</h5>
                                  <p class="card-text">{{segment.description}}</p>
                                </div>
                            </div>
                        </div>
                    } 
                    
                    <!-- <div class="col-md-4 col-12">
                        <div class="box1" data-aos="fade-right">
                            <h3><i class="fa fa-heart"></i>&nbsp;WEDDING DECOR & TENTING</h3>
                            <p>We specialize in <b>"Wedding Decor Design".</b> We at RTH believe in the beauty of our client's dreams and our work is a leap of imagination which brings happiness and joy to them. Every bit of wedding design is the cumulative effect of a large infrastructure.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="box2" data-aos="fade-up">
                            <h3><i class="fa fa-heart"></i>&nbsp;DESTINATION WEDDINGS</h3>
                            <p>Be it in India or overseas, RTH will take complete control of the event including assistance in selection of <b>destination & Venue, decor, F&B, entertainment etc.</b> Our years of experience in marriage logistics helps us plan and execute destination weddings without a flaw.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="box3" data-aos="fade-left">
                            <h3><i class="fa fa-heart"></i>&nbsp;CORPORATE EVENTS</h3>
                            <p>RTH specializes in organizing customized Corporate Events, <b>Award Functions, Musical Nights, Exhibitions</b> & Stall Designing on pan India basis.</p>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
