
.segment1{
    text-align: center;
    margin:30px 0;
}
.segment1 h2{
    text-align:center;
    font:normal 600 35px monospace;
    margin:0;
    padding:0;
    text-shadow: -1px 6px 9px rgba(0,0,0,0.6);
    margin-bottom:15px;
}
.segment2{
    background: url("../../../assets/bg2.webp") no-repeat scroll;
    background-attachment: fixed;
    background-size: cover;
    padding:100px 200px;
}
/* .box1{
    padding:50px 0px 50px 100px;
} */
.box1{
    background: rgba(218, 6, 32, 0.75);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    height:250px;
}
.box1 h3{
    font-size:18px;
    color: #fff;
    font-family: sec;
    font-weight:bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: dotted 1px;
    padding: 0 0 6px 0;
    text-align: center;
}
.box1 p{
    font-size:16px;
    color: #FFF;
    line-height:25px;
    text-align: justify;
    overflow: hidden;
  }
.box2{
    background: rgba(0, 131, 160, 0.75);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    height:250px;
}
.box2 h3{
    font-size:20px;
    color: #fff;
    font-family: sec;
    font-weight:bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: dotted 1px;
    padding: 0 0 6px 0;
    text-align: center;
}
.box2 p{
    font-size:16px;
    color: #FFF;
    line-height:25px;
    text-align: justify;
    overflow: hidden;
  }
.box3{
    background: rgba(255, 94, 0, 0.75);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    height:250px;
}
.box3 h3{
    font-size:20px;
    color: #fff;
    font-family: sec;
    font-weight:bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: dotted 1px;
    padding: 0 0 6px 0;
    text-align: center;
}
.box3 p{
    font-size:16px;
    color: #FFF;
    line-height:25px;
    text-align: justify;
    overflow: hidden;
  }
  